<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo left">Harsh Patel</a>
        <ul class="nav right"  >
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>