<h3><i class="fas fa-book-reader"></i> DataBooks</h3>
<div class="divider"></div>
<div class="section">
    <a href="/twitter/login" class="btn blue darken-1">
        <i class="fab fa-twitter left"></i> Log In With twitter
    </a>
</div>